USE [master]
GO
/****** Object:  Database [ITAssetRequest]    Script Date: 9/1/2025 10:32:32 AM ******/
CREATE DATABASE [ITAssetRequest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITAssetRequest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ITAssetRequest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITAssetRequest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ITAssetRequest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITAssetRequest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITAssetRequest]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CName] [varchar](255) NOT NULL,
	[Flag] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DName] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ReasonId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[UsersId] [int] NOT NULL,
	[DepartmentHead] [int] NOT NULL,
	[SavedTime] [datetime] NULL,
	[SerialNo] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[ITDivisionComment] [text] NULL,
	[ITDivisionRecommendation] [text] NULL,
	[Remarks] [text] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[Budgeted] [bit] NULL,
	[EIDDateOfPurchase] [datetime] NULL,
	[EIDMake] [varchar](255) NULL,
	[EIDSerialNo] [varchar](255) NULL,
	[EIDWarranty] [varchar](255) NULL,
	[EIDModel] [varchar](255) NULL,
	[Quotation] [bit] NULL,
	[Configuration] [bit] NULL,
	[CostBeakdown] [bit] NULL,
	[UsedByToWhom] [int] NULL,
	[TemplateId] [int] NOT NULL,
	[ConfirmedBy] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reason]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[ReasonId] [int] IDENTITY(1,1) NOT NULL,
	[RName] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestedItemPayments]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestedItemPayments](
	[RequestedItemPaymentsId] [int] IDENTITY(1,1) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Qty] [int] NOT NULL,
	[Description] [varchar](500) NULL,
	[DocumentID] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestedItemPaymentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SName] [varchar](255) NOT NULL,
	[Currency] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[TemplateId] [int] IDENTITY(1,1) NOT NULL,
	[IsMDSign] [bit] NOT NULL,
	[ITManagerId] [int] NOT NULL,
	[CEOId] [int] NOT NULL,
	[MDId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CompanyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/1/2025 10:32:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[IsHeadOrNot] [bit] NOT NULL,
	[IsAuthorizer] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Document] ADD  DEFAULT (getdate()) FOR [SavedTime]
GO
ALTER TABLE [dbo].[Reason] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Template] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([DepartmentHead])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([ReasonId])
REFERENCES [dbo].[Reason] ([ReasonId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Template] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Template]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_UsedByToWhom_Department] FOREIGN KEY([UsedByToWhom])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_UsedByToWhom_Department]
GO
ALTER TABLE [dbo].[RequestedItemPayments]  WITH CHECK ADD FOREIGN KEY([DocumentID])
REFERENCES [dbo].[Document] ([DocumentId])
GO
ALTER TABLE [dbo].[RequestedItemPayments]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD FOREIGN KEY([CEOId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD FOREIGN KEY([ITManagerId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD FOREIGN KEY([MDId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD  CONSTRAINT [FK_Template_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Template] CHECK CONSTRAINT [FK_Template_Company]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_IsAuthorizer] CHECK  (([IsAuthorizer]='Editor' OR [IsAuthorizer]='MD' OR [IsAuthorizer]='CEO' OR [IsAuthorizer]='IT Manager' OR [IsAuthorizer]='Unauthorizer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_IsAuthorizer]
GO
USE [master]
GO
