USE [master]
GO
/****** Object:  Database [Dairy_Collector]    Script Date: 8/22/2025 7:52:06 AM ******/
CREATE DATABASE [Dairy_Collector]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dairy_Collector', FILENAME = N'C:\Temp\Dairy_Collector.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dairy_Collector_log', FILENAME = N'C:\Temp\Dairy_Collector.ldf' , SIZE = 794624KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dairy_Collector].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dairy_Collector]
GO
/****** Object:  Table [dbo].[tblDCenters]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDCenters](
	[ID] [int] NOT NULL,
	[CenterCode] [varchar](10) NULL,
	[CenterName] [varchar](50) NULL,
	[Address] [varchar](150) NULL,
	[ContactPerson] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[RateCard] [int] NULL,
	[Status] [bit] NOT NULL,
	[InvNum] [int] NOT NULL,
	[BackDate] [int] NULL,
	[isBackLive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDCollection]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDCollection](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CCode] [int] NOT NULL,
	[FarmerCode] [varchar](20) NOT NULL,
	[Parent] [varchar](20) NOT NULL,
	[DateOf] [varchar](40) NOT NULL,
	[TimeOf] [varchar](10) NOT NULL,
	[SNF] [decimal](5, 1) NOT NULL,
	[FAT] [decimal](5, 1) NOT NULL,
	[Quantity] [decimal](10, 3) NOT NULL,
	[CreatedDate] [varchar](40) NULL,
	[SyncCreated] [datetime] NOT NULL,
	[Accept] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDCollection_Temp]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDCollection_Temp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CCode] [int] NOT NULL,
	[FarmerCode] [varchar](20) NOT NULL,
	[Parent] [varchar](20) NOT NULL,
	[DateOf] [varchar](40) NOT NULL,
	[TimeOf] [varchar](10) NOT NULL,
	[SNF] [decimal](5, 1) NOT NULL,
	[FAT] [decimal](5, 1) NOT NULL,
	[Quantity] [decimal](10, 3) NOT NULL,
	[SyncCreated] [datetime] NOT NULL,
	[Accept] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDCollectors]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDCollectors](
	[ID] [int] NOT NULL,
	[CollectorCode] [varchar](10) NOT NULL,
	[CollectorName] [varchar](50) NOT NULL,
	[CollectorAddress] [varchar](150) NULL,
	[CollectorPhone] [varchar](25) NULL,
	[IsAFarmer] [int] NULL,
	[CollectorFMCode] [varchar](20) NULL,
	[CCode] [int] NULL,
	[AdPay_Col] [float] NULL,
	[BankName] [varchar](50) NULL,
	[AccountNo] [varchar](50) NULL,
	[Holdername] [varchar](50) NULL,
	[BankBrachCode] [varchar](50) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDFarmers]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDFarmers](
	[ID] [int] NOT NULL,
	[FarmerCode] [varchar](50) NULL,
	[OldCode] [varchar](10) NULL,
	[Name] [varchar](60) NULL,
	[Address] [varchar](150) NULL,
	[Town] [varchar](50) NULL,
	[District] [varchar](50) NULL,
	[Phone] [varchar](30) NULL,
	[NIC] [varchar](20) NULL,
	[CCode] [varchar](10) NULL,
	[SCode] [varchar](10) NULL,
	[ColCode] [varchar](10) NULL,
	[AdditionalPayments] [float] NULL,
	[Status] [bit] NULL,
	[BankName] [varchar](50) NULL,
	[AccountNo] [varchar](50) NULL,
	[Holdername] [varchar](50) NULL,
	[Scocolcode] [nchar](10) NULL,
	[Addpay] [bit] NULL,
	[FarmerType] [varchar](50) NULL,
	[SupplyVia] [varchar](50) NULL,
	[BankBrachCode] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDInvoiceDetails]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDInvoiceDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[InvNumber] [nvarchar](10) NOT NULL,
	[FarmerCode] [nvarchar](10) NOT NULL,
	[SocietyCode] [nvarchar](8) NOT NULL,
	[CCode] [int] NOT NULL,
	[DateOf] [varchar](40) NOT NULL,
	[ItemCode] [varchar](8) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Qty] [decimal](10, 3) NOT NULL,
	[Amount] [float] NOT NULL,
	[CreatedDate] [varchar](40) NULL,
	[SyncCreated] [datetime] NOT NULL,
	[Accept] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDitems]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDitems](
	[ID] [int] NOT NULL,
	[Itemtype] [int] NULL,
	[ItemCode] [nvarchar](10) NULL,
	[ItemDesc] [nvarchar](50) NULL,
	[UOM] [nvarchar](10) NULL,
	[UnitPrice] [float] NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDLogin]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[UserType] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[CenterCode] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[Sync_init] [int] NULL,
	[Sync_iDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDSociety]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDSociety](
	[ID] [int] NOT NULL,
	[SocietyCode] [varchar](10) NOT NULL,
	[SocietyName] [varchar](50) NOT NULL,
	[Address] [varchar](150) NULL,
	[Phone] [varchar](25) NULL,
	[ContactPerson] [varchar](50) NULL,
	[CCode] [int] NULL,
	[AdPay_Soc] [float] NULL,
	[BankName] [varchar](50) NULL,
	[AccountNo] [varchar](50) NULL,
	[Holdername] [varchar](50) NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDWebTemp]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDWebTemp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CCode] [int] NOT NULL,
	[FarmerCode] [varchar](20) NOT NULL,
	[OldCode] [varchar](20) NOT NULL,
	[Parent] [varchar](20) NOT NULL,
	[DateOf] [varchar](40) NOT NULL,
	[TimeOf] [varchar](10) NOT NULL,
	[SNF] [decimal](5, 1) NOT NULL,
	[FAT] [decimal](5, 1) NOT NULL,
	[Qty] [int] NOT NULL,
	[SavedTime] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDCenters] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tblDCenters] ADD  DEFAULT ((0)) FOR [InvNum]
GO
ALTER TABLE [dbo].[tblDCenters] ADD  CONSTRAINT [DF_tblDCenters_BackDate]  DEFAULT ((0)) FOR [BackDate]
GO
ALTER TABLE [dbo].[tblDCenters] ADD  CONSTRAINT [DF_tblDCenters_isBackLive]  DEFAULT ((0)) FOR [isBackLive]
GO
ALTER TABLE [dbo].[tblDCollection] ADD  CONSTRAINT [DF_tblDCollection_SyncCreated]  DEFAULT (getdate()) FOR [SyncCreated]
GO
ALTER TABLE [dbo].[tblDCollection] ADD  CONSTRAINT [DF_tblDCollection_Accept]  DEFAULT ((0)) FOR [Accept]
GO
ALTER TABLE [dbo].[tblDCollection_Temp] ADD  CONSTRAINT [DF_tblDCollection_Temp_SyncCreated]  DEFAULT (getdate()) FOR [SyncCreated]
GO
ALTER TABLE [dbo].[tblDCollection_Temp] ADD  CONSTRAINT [DF_tblDCollection_Temp_Accept]  DEFAULT ((0)) FOR [Accept]
GO
ALTER TABLE [dbo].[tblDInvoiceDetails] ADD  CONSTRAINT [DF_tblDInvoiceDetails_SyncCreated]  DEFAULT (getdate()) FOR [SyncCreated]
GO
ALTER TABLE [dbo].[tblDInvoiceDetails] ADD  CONSTRAINT [DF_tblDInvoiceDetails_Accept]  DEFAULT ((0)) FOR [Accept]
GO
ALTER TABLE [dbo].[tblDLogin] ADD  CONSTRAINT [DF_tblDLogin_Sync_iDate]  DEFAULT (getdate()) FOR [Sync_iDate]
GO
ALTER TABLE [dbo].[tblDWebTemp] ADD  CONSTRAINT [DF_tblDWebTemp_SavedTime]  DEFAULT (CONVERT([date],getdate())) FOR [SavedTime]
GO
/****** Object:  StoredProcedure [dbo].[spCheckDuplicateDel]    Script Date: 8/22/2025 7:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kaushalya
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[spCheckDuplicateDel] 
	-- Add the parameters for the stored procedure here
	@date varchar(20) , 
	@centerid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here


WITH DuplicateCTE AS ( 
	SELECT *, 
	ROW_NUMBER() OVER (PARTITION BY FarmerCode,Parent,CAST(DateOF As Date),TimeOf,SNF,FAT,Quantity ORDER BY (SELECT   NULL)) AS rn 
	FROM [tblDCollection] 
	Where CCode=@centerid
	and CAST(DateOf as date)=CAST(@date as date)

) 
DELETE FROM DuplicateCTE   
WHERE rn > 1
--and CAST(DateOf as date)!=CAST('2025-06-19' as date)


END
GO
USE [master]
GO
